<app-home>
  <div class="subscription-parent-container">
    <div class="subscription-container">
      <div class="subscription-header">
        <h1>Basics</h1>
      </div>
      <div class="susbcription-wave">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: #2ecc71"
          ></path>
        </svg>
      </div>
      <div class="subscription-container-below">
        <p class="subscription-description">
          <span>Free Support 24/7</span>
          <span>Basics Features</span>
          <span>Averaged Response Email</span>
          <span>Limited Resources</span>
        </p>
        <div class="subscription-price">ABSOLUTELY Free</div>
        <button mat-raised-button class="subscription-action">
          CURRENT NOW
        </button>
      </div>
    </div>
    <div class="subscription-container">
      <div class="subscription-header">
        <h1>PRO</h1>
      </div>
      <div class="susbcription-wave">
        <svg
          viewBox="0 0 500 150"
          preserveAspectRatio="none"
          style="height: 100%; width: 100%"
        >
          <path
            d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z"
            style="stroke: none; fill: pink"
          ></path>
        </svg>
      </div>
      <div class="subscription-container-below">
        <p class="subscription-description">
          <span>Free Support 24/7</span>
          <span>Advanced Features</span>
          <span>Quicker Response Email</span>
          <span>Unlimited Resources</span>
        </p>
        <div class="subscription-price">ONLY 10$/Per month</div>
        <button mat-raised-button class="subscription-action">BUY NOW</button>
      </div>
    </div>
  </div>
</app-home>
