<app-home>
  <form
    class="jpForm-container"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    style="height: 45vh"
  >
    <h3>User Login</h3>
    <div fxFlex fxLayout="column">
      <mat-form-field
        class="small"
        appearance="outline"
        fxFlex
        style="width: 100%"
      >
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          class="jpForm-formControl"
        />
        <mat-error
          *ngIf="
            loginForm.controls.email.touched && loginForm.controls.email.invalid
          "
        >
          <span *ngIf="loginForm.controls.email.errors.required"
            >Email is required</span
          >
          <span *ngIf="loginForm.controls.email.errors.email"
            >Email is invalid</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="small"
        fxFlex
        style="width: 100%; margin-top: 5px"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          class="jpForm-formControl"
          type="password"
          [type]="password ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="password = !password"
          [attr.aria-label]="'Hide password'"
          [attr.aria-label]="password"
        >
          <mat-icon>{{ password ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            loginForm.controls.password.touched &&
            loginForm.controls.password.invalid
          "
        >
          <span *ngIf="loginForm.controls.password.errors.required"
            >Password is required</span
          >
        </mat-error>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      class="jpForm-button"
      type="submit"
      [disabled]="!(loginForm.valid && loginForm.dirty)"
    >
      <mat-icon>login</mat-icon> Login
    </button>

    <div class="jpForm-forgotPassword">
      <span [routerLink]="['/forgot-password']">Forgot Password?</span>
    </div>
    <div class="jpForm-redirectToLogin">
      <span
        >Don't have an account?<span
          class="jpForm-redirect"
          [routerLink]="['/register-user']"
        >
          Sign Up
        </span></span
      >
    </div>

    <span class="jpForm-footerContainer"
      >💡Fun fact about symbol Japanese flower
      <img class="jpForm-footer" src="/assets/sakura.jpg" alt="" />
    </span>
  </form>
</app-home>
