@import url("../app.component.scss");

.verifyEmail-text {
    text-align: center;
}

.forgotPassword-redirectContainer {
    display: block;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}