<app-home>
  <div class="dashboardSection-container">
    <div class="dashboardSection-header">
      <h3 style="flex: 1">User Profile</h3>
      <button
        class="dashboardSection-button"
        type="button"
        (click)="authService.signOut()"
      >
        <mat-icon>logout</mat-icon> Logout
      </button>
    </div>

    <div class="dashboardSection-line"></div>
    <div
      class="dashboardContent-container"
      *ngIf="authService.userData as user"
    >
      <img
        class="dashboardContent-userImg"
        src="{{ user.photoURL ? user.photoURL : '/assets/anonymous.png' }}"
        alt="{{ user.displayName }}"
      />
      <div class="dashboardContent-userInfo">
        <h1>
          Hello:
          <strong>{{ user.displayName ? user.displayName : "User" }}</strong>
        </h1>
        <p>
          User ID: <strong>{{ user.uid }}</strong>
        </p>
        <p>
          Email: <strong>{{ user.email }}</strong>
        </p>
        <p>
          Email Verified: <strong>{{ user.emailVerified }}</strong>
        </p>
      </div>
    </div>
  </div>
</app-home>
