<app-home>
  <form
    class="jpForm-container"
    [formGroup]="forgotPasswordForm"
    onsubmit="onSubmit()"
    style="height: 30vh"
  >
    <h3>Reset Password</h3>
    <div fxFlex fxLayout="column">
      <mat-form-field
        class="small"
        appearance="outline"
        fxFlex
        style="width: 100%"
      >
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          class="forgotPassword-formControl"
        />
        <mat-error
          *ngIf="
            forgotPasswordForm.controls.email.touched &&
            forgotPasswordForm.controls.email.invalid
          "
        >
          <span *ngIf="forgotPasswordForm.controls.email.errors.required"
            >Email is required</span
          >
          <span *ngIf="forgotPasswordForm.controls.email.errors.email"
            >Email is invalid</span
          >
        </mat-error>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      class="jpForm-button"
      type="submit"
      [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)"
    >
      <mat-icon>send</mat-icon> Confirm
    </button>

    <div class="forgotPassword-redirectContainer">
      <span
        >Go back to ?<span class="jpForm-redirect" [routerLink]="['/sign-in']">
          Log In
        </span></span
      >
    </div>

    <span class="jpForm-footerContainer"
      >💡Fun fact about symbol Japanese flower
      <img class="jpForm-footer" src="/assets/sakura.jpg" alt="" />
    </span>
  </form>
</app-home>
