// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WeatherApp-primary: mat.define-palette(mat.$indigo-palette);
$WeatherApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$WeatherApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WeatherApp-theme: mat.define-light-theme(
  (
    color: (
      primary: $WeatherApp-primary,
      accent: $WeatherApp-accent,
      warn: $WeatherApp-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($WeatherApp-theme);

/* You can add global styles to this file, and also import other style files, -webkit: for Safaria and Chrome */
:root {
  --blue-1: rgb(calc(82 / 5), calc(144 / 5), calc(237 / 5));
  --blue-2: rgb(82, 144, 237);
  --blue-3: rgb(136, 172, 225);
  --shadow-dark: rgba(0, 0, 0, 0.2);
  --white: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Open Sans Condensed', sans-serif;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*HTML parent, em->root, rem->current parent*/
html,
body {
  height: 100%;
}

/*MUI*/
mat-form-field.small {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;
}
